{erl_opts, [debug_info]}.
{deps, [
    {atomvm_neopixel, {git, "https://github.com/atomvm/atomvm_neopixel.git", {branch, "master"}}},
    {jsx, "3.1.0"},
    {atomvm_ssd1306, {git, "https://github.com/arpunk/atomvm_ssd1306", {branch, "erlang_driver"}}},
    {atomvm_lib, {git, "https://github.com/atomvm/atomvm_lib.git", {branch, "master"}}}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.